<div class="widget estadisticas">
    <h3 class="titulo">Estadisticas</h3>
    <div class="contenedor d-flex flex-wrap">
        <div class="caja">
            <h3>15,236</h3>
            <p>Visitas</p>
        </div>
        <div class="caja">
            <h3>1,831</h3>
            <p>Registros</p>
        </div>
        <div class="caja">
            <h3>$160,545</h3>
            <p>Ingresos</p>
        </div>
    </div>
</div>