<div class="widget comentarios">
    <h3 class="titulo">Comentarios</h3>
    <div class="contenedor">
        <div class="comentario d-flex flex-wrap">
            <div class="foto">
                <a href="#">
                    <img src="img/persona1.jpg" alt="" width="100">
                </a>
            </div>

            <div class="texto">
                <a href="#">John Doe</a>
                <p>en <a href="#">Mi primera entrada</a></p>
                <p class="texto-comentario">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellendus itaque optio dolores nemo at eveniet molestias delectus, magni consectetur.
                </p>
            </div>

            <div class="botones d-flex justify-content-start flex-wrap w-100">
                <button class="aprobar">
			   
				Aprobar
			</button>
                <button class="eliminar">
				Bloquear
			</button>
            </div>
        </div>

        <div class="comentario d-flex flex-wrap">
            <div class="foto">
                <a href="#">
                    <img src="img/persona2.jpg" alt="" width="100">
                </a>
            </div>

            <div class="texto">
                <a href="#">John Doe</a>
                <p>en <a href="#">Mi primera entrada</a></p>
                <p class="texto-comentario">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellendus itaque optio dolores nemo at eveniet molestias delectus, magni consectetur.
                </p>
            </div>

            <div class="botones d-flex justify-content-start flex-wrap w-100">
                <button class="aprobar">
			   
				Aprobar
			</button>
                <button class="eliminar">
				Bloquear
			</button>
            </div>
        </div>

        <div class="comentario d-flex flex-wrap">
            <div class="foto">
                <a href="#">
                    <img src="img/persona3.jpg" alt="" width="100">
                </a>
            </div>

            <div class="texto">
                <a href="#">John Doe</a>
                <p>en <a href="#">Mi primera entrada</a></p>
                <p class="texto-comentario">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellendus itaque optio dolores nemo at eveniet molestias delectus, magni consectetur.
                </p>
            </div>

            <div class="botones d-flex justify-content-start flex-wrap w-100">
                <button class="aprobar">
			   
				Aprobar
			</button>
                <button class="eliminar">
				Bloquear
			</button>
            </div>
        </div>
    </div>