<link rel="stylesheet" href="./css/style03_login.css" />
</head>

<body class="bg-01">
    <header class="container bg-white">
        <nav class="navbar fixed navbar-expand-lg navbar-light bg-light menu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a><span class="apaBrand">APA!</span></a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon text"></span>
		 </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="nLink">HOME</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="nLink">INDICA</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: ">
                                <span class="nLink">CLUB</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#"><span class="nLink">LOGIN</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="nLink">NUEVOS SOCIOS</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="nLink">RESERVAS</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <title>
                <%=title%>
            </title>
        </head>

        <body>

            <div class="container">
                <h2>Mesa de Entrada</h2>
                <h3>APA - Empresas</h3>

                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Nuevo Registro</legend>
                        <!-- Text input-->

                        <!-- #01 - NUEVO REGISTRO  -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="local_id">Credencial del Local</label>
                            <div class="col-md-4">
                                <input id="local_id" name="local_id" placeholder="Ingrese el Numero " class="form-control input-md" required="" type="text">
                            </div>
                        </div>
                        <div class="container container-register" ;>
                            <div class="row"></div>
                            <div class="containe container-fluid ">

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>HOTEL PLATINUM</h4>
                                        <form action="" method="post">
                                            <div class="mb-3 <label for=" exampleDataList " class="form-label ">Fecha de RESERVA</label>
					<input type="date " name="date " class="form-control " id="<i class="fa fa-calendar-check-o" aria-hidden="true">
                                                </i>
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">HOSPEDAGEN seleccionda</label>
