<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3 " crossorigin="anonymous" />
    <!--BST 5 ICONS-->
    <link rel="stylesheet" href="/public/stylesheets/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style_productosComuna.css" type="text/css" />
    <!--FONT AWESOME  -->
    <script src="https://kit.fontawesome.com/0c502158eb.js" crossorigin="anonymous"></script>
    <title>APA!
        <%= title ;%>
    </title>
</head>

<body class="bodyPage bg-dark">
    /head>

    <body class="bodyPage bg-light">
        <%- include('../partials/navbarTop'); %>

            <div class="div2 bg-light">
                <header class="header w-100">
                    <div class="hero">
                        <div class="px-2 py-2 my-9 text-center">
                        </div>
                        <h1 class="display-2 fw-bold h101 text-dark ">
                            <%=title;%>
                        </h1>

                        <div class="row>
                    <p class=" herod text-dark " style="color: black "> FACILIDAD, VENTAJAS y PLACER ahora en tu celu con APA! app!</p>
               
            </div>
            </div>
        </header>
    
        <div class="main ">
            <div class="album py-5 main ">
                <div class="container ">
    
                    <div class="row ">
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="card mb-4 shadow-sm ">
                                <svg class="bd-placeholder-img card-img-top " width="100% " height="225 " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail
                            "><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef " dy=".3em ">Thumbnail</text></svg>
                                <div class="card-body ">
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group ">
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                                            <button type="button " class="btn btn-sm btn-outline-secondary ">Edit</button>
                                        </div>
                                        <small class="text-muted ">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer_area section_padding_130_0 ">
            <div class="container ">
                <div class="row ">
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg-4 ">
                        <div class="single-footer-widget section_padding_0_130 ">
                            <!-- Footer Logo-->
                            <div class="footer-logo mb-3 "></div>
                            <p>Encontranos en:</p>
                            <!-- Footer Social Area-->
                            <div class="footer_social_area "><a href="# " data-toggle="tooltip " data-placement="top " title=" " data-original-title="Facebook "><i class="fa fa-facebook "></i></a>
                                <a href="# " data-toggle="tooltip " data-placement="top " title=" " data-original-title="Pinterest "><i class="fa fa-pinterest "></i></a>
                                <a href="# " data-toggle="tooltip " data-placement="top " title=" " data-original-title="Skype "><i class="fa fa-skype "></i></a>
                                <a href="# " data-toggle="tooltip " data-placement="top " title=" " data-original-title="Twitter "><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg ">
                        <div class="single-footer-widget section_padding_0_130 ">
                            <!-- Widget Title-->
                            <h5 class="widget-title ">Sobre nosotros</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu ">
                                <ul>
                                    <li><a href="# ">Quienes somos</a></li>
                                    <li><a href="# ">Politica y privacidad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg ">
                        <div class="single-footer-widget section_padding_0_130 ">
                            <!-- Widget Title-->
                            <h5 class="widget-title ">Soporte</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu ">
                                <ul>
                                    <li><a href="# ">Ayuda</a></li>
                                    <li><a href="# ">Condiciones</a></li>
                                    <li><a href="# ">Politica privacidad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg ">
                        <div class="single-foter-widget sectiopadding_0_130 ">
                            <!-- Widget Title-->
                            <h5 class="widget-title ">Contacto</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu ">
                                <ul>
                                    <li><a href="# ">Email</a></li>
                                    <li><a href="# ">Condiciones</a></li>
                                    <li><a href="# ">Centro de dudas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <%- include('../partials/navbarBottom'); %>
    </body>
    </html>