</div>
<div class="publicidad ">
	<a href="# ">
		<img src="img/ad2.jpg " alt=" ">APA! Cuidados
	</a>
</div>
</div>
<div class="seccion ">
<h3 class="titulo ">Confira! TOP 3</h3>
<nav>
	<a href="# " class="perfil ">
		<img src="img/persona1.jpg " alt=" ">Telo 01
	</a>
	<a href="# " class="perfil ">
		<img src="img/persona3.jpg " alt=" ">Telo 02
	</a>
	<a href="# " class="perfil ">
		<img src="img/persona3.jpg " alt=" ">Telo 03
	</a>                        </div>
	<div class="publicidad ">
		<a href="# ">
			<img src="img/ad2.jpg " alt=" ">APA! Cuidados
		</a>
	</div>
</div>
<div class="seccion ">
	<h3 class="titulo ">Confira! TOP 3</h3>
	<nav>
		<a href="# " class="perfil ">
			<img src="img/persona1.jpg " alt=" ">Telo 01
		</a>
		<a href="# " class="perfil ">
			<img src="img/persona3.jpg " alt=" ">Telo 02
		</a>
		<a href="# " class="perfil ">
			<img src="img/persona3.jpg " alt=" ">Telo 03
		</a>
	</nav>
</div>
</aside>
</div>
</div>
</body>
</html>