<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head.ejs')%>
        <!--FONT AWESOME  -->
        <script src="https://kit.fontawesome.com/0c502158eb.js " crossorigin="anonymous "></script>
        <link rel='stylesheet' href='/public/stylesheets/normalize.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/style_perfilApa.css' type="text/css">
        <!------ Include the above in your HEAD tag ---------->
        <title>APA!
            <%= title ;%>
        </title>

</head>


<body>

    <body>
        <!-- HEADER INICIO -->
        <header class="fixed-top">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <!-- Logo y barra de busqueda -->
                    <div class="col col-lg-3 col-xl-2 d-flex align-items-center order-1">
                        <a href="" class="logo me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
                            <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
                            <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"/>
                        </svg>
                        </a>
                        <div class="barra-busqueda d-none d-sm-block">
                            <div class="icono">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                            </div>
                            <input type="search" placeholder="Buscar">
                        </div>
                    </div>

                    <!-- Menu -->
                    <div class="menu col-12 col-lg-6 col-xl-6 text-center order-3 order-lg-2">
                        <a href="/apa-club" class="bg-rose  ">
                            <img src="images/svg/dash_club/asideNav00.svg" alt="icon" class="icoon">
                        </a>
                        <a href="/apa-club/amigos" class="bg-rose   ">
                            <img src="images/svg/dash_club/asideNav02.svg" alt="icon" class="icoon">
                        </a>
                        </a>
                        <a href="/apa-club/miPerfil " class="bg-rose  ">
                            <img src="images/svg/dash_club/asideNav01.svg" alt="icon" class="icoon">
                        </a>
                        <a href="/apa-club/misReservas" class="bg-rose  ">
                            <img src="images/svg/dash_club/asideNav03.svg" alt="icon" class="icoon">
                        </a>
                        <a href="/apa-club/misFavoritos" class="bg-rose  ">
                            <img src="images/svg/dash_club/asideNav05.svg" alt="icon" class="icoon">
                        </a>
                    </div>

                    <!-- Botones -->
                    <nav class="botones col-auto col-lg-3 col-xl-2 text-end d-flex align-items-center justify-content-end order-2 order-lg-3">
                        <a href="#" class="perfil">
                            <img src="img/persona2.jpg" alt=""> APA! Ventajas
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
                        </svg>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                        </svg>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                        </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </header>

        <!-- HEADER FINAL -->
        <div class="container-fluid">
            <div class="contenido-principal row justify-content-center justify-content-md-between">
                <!-- ASIDE ENLACES RAPID IINICIO -->
                <aside class="enlaces-rapidos col-3 col-xl-2">

                    <nav>

                        <a href="/apa-club" class="perfil">
                            <img src="images/svg/dash_club/asideNav00.svg" alt="icon" class="icoon"> Home
                        </a>
                        <a href="/apa-club/misAmigos" class="social">
                            <img src="images/svg/dash_club/asideNav02.svg" alt="icon" class="icoon"> Amigos
                        </a>
                        <a href="/apa-club/miPerfil" class="perfil">
                            <img src="images/svg/dash_club/asideNav01.svg" alt="icon" class="icoon"> Mi Perfil
                        </a>
                        <a href="/apa-club/misReservas">
                            <img src="images/svg/dash_club/asideNav03.svg" alt="icon" class="icoon"> Mis Reservas
                        </a>
                        <a href="/apa-club/misFavoritos">
                            <img src="images/svg/dash_club/asideNav05.svg" alt="icon" class="icoon"> Mis Favoritos
                        </a>
                        <a href="/apa-club/puntaje">
                            <img src="images/svg/dash_club/asideNav04.svg" alt="icon" class="icoon"> Mis Puntos
                        </a>
                        <a href="/apa-club/buscarApa">
                            <img src="images/svg/dash_club/asideNav06.svg" alt="icon" class="icoon"> APA! Busca
                        </a>

                    </nav>

                    <footer>
                        <nav>
                            <a href="#">Privacidad</a>
                            <a href="#">Condiciones</a>
                            <a href="#">Publicidad</a>
                            <a href="#">Opciones de anuncios</a>
                            <a href="#">Cookies</a>
                            <a href="#">Más</a>
                        </nav>
                    </footer>
                </aside>
                <!--ASIIDE ENLACES FINAL  -->
                <main class="col-12 col-sm-10 col-md-6 col-xxl-4">
                    <!-- DIV PUBLICAR INICIO -->
                    <div class="publicar">
                        <div class="formulario">
                            <h5> Especiales para:</h5>
                            <br/>
                            <hr/>
                            <h3>@user_name</h3>
                        </div>
                        <div class="botones d-flex ">
                            <a href="#" class="active-link">
                                <span class="text-light">
                            <i class="bi bi-balloon-fill"></i>  APA!Indica</span>
                            </a>
                            <a href="# ">
                                <span class="text-light">
                            <i class="bi bi-chat-heart"></i> Menor Precio</span>
                            </a>
                            <a href=" ">
                                <span><i class="bi bi-award"></i> + Puntuados</span>
                            </a>
                        </div>
                    </div>
                    <!-- DIV PUBLIC AR FIN -->
                    <div class="publicaciones">
                        <div class="publicacion">
                            <div class="header">



                                <!-- Page Wrapper -->
                                <div id="wrapper">

                                    <!-- Sidebar -->
                                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                                        <!-- Sidebar - Brand -->
                                        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                                            <div class="sidebar-brand-icon rotate-n-15">
                                                <i class="fas fa-laugh-wink"></i>
                                            </div>
                                            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
                                        </a>

                                        <!-- Divider -->
                                        <hr class="sidebar-divider my-0">

                                        <!-- Nav Item - Dashboard -->
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">
                                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                                <span>Dashboard</span></a>
                                        </li>

                                        <!-- Divider -->
                                        <hr class="sidebar-divider">

                                        <!-- Heading -->
                                        <div class="sidebar-heading">
                                            Interface
                                        </div>

                                        <!-- Nav Item - Pages Collapse Menu -->
                                        <li class="nav-item">
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                <i class="fas fa-fw fa-cog"></i>
                                                <span>Components</span>
                                            </a>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                <div class="bg-white py-2 collapse-inner rounded">
                                                    <h6 class="collapse-header">Custom Components:</h6>
                                                    <a class="collapse-item" href="buttons.html">Buttons</a>
                                                    <a class="collapse-item" href="cards.html">Cards</a>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Nav Item - Utilities Collapse Menu -->
                                        <li class="nav-item">
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                                                <i class="fas fa-fw fa-wrench"></i>
                                                <span>Utilities</span>
                                            </a>
                                            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                                                <div class="bg-white py-2 collapse-inner rounded">
                                                    <h6 class="collapse-header">Custom Utilities:</h6>
                                                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                                                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                                                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                                                    <a class="collapse-item" href="utilities-other.html">Other</a>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Divider -->
                                        <hr class="sidebar-divider">

                                        <!-- Heading -->
                                        <div class="sidebar-heading">
                                            Addons
                                        </div>

                                        <!-- Nav Item - Pages Collapse Menu -->
                                        <li class="nav-item">
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                                                <i class="fas fa-fw fa-folder"></i>
                                                <span>Pages</span>
                                            </a>
                                            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                                <div class="bg-white py-2 collapse-inner rounded">
                                                    <h6 class="collapse-header">Login Screens:</h6>
                                                    <a class="collapse-item" href="login.html">Login</a>
                                                    <a class="collapse-item" href="register.html">Register</a>
                                                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                                                    <div class="collapse-divider"></div>
                                                    <h6 class="collapse-header">Other Pages:</h6>
                                                    <a class="collapse-item" href="404.html">404 Page</a>
                                                    <a class="collapse-item" href="blank.html">Blank Page</a>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Nav Item - Charts -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="charts.html">
                                                <i class="fas fa-fw fa-chart-area"></i>
                                                <span>Charts</span></a>
                                        </li>

                                        <!-- Nav Item - Tables -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="tables.html">
                                                <i class="fas fa-fw fa-table"></i>
                                                <span>Tables</span></a>
                                        </li>

                                        <!-- Divider -->
                                        <hr class="sidebar-divider d-none d-md-block">

                                        <!-- Sidebar Toggler (Sidebar) -->
                                        <div class="text-center d-none d-md-inline">
                                            <button class="rounded-circle border-0" id="sidebarToggle"></button>
                                        </div>

                                        <!-- Sidebar Message -->
                                        <div class="sidebar-card d-none d-lg-flex">
                                            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                                            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                                            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
                                        </div>

                                    </ul>
                                    <!-- End of Sidebar -->

                                    <!-- Content Wrapper -->
                                    <div id="content-wrapper" class="d-flex flex-column">

                                        <!-- Main Content -->
                                        <div id="content">

                                            <!-- Topbar -->
                                            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                                                <!-- Sidebar Toggle (Topbar) -->
                                                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                                                <!-- Topbar Search -->
                                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <!-- Topbar Navbar -->
                                                <ul class="navbar-nav ml-auto">

                                                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                                                    <li class="nav-item dropdown no-arrow d-sm-none">
                                                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-search fa-fw"></i>
                                                        </a>
                                                        <!-- Dropdown - Messages -->
                                                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                                            <form class="form-inline mr-auto w-100 navbar-search">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>

                                                    <!-- Nav Item - Alerts -->
                                                    <li class="nav-item dropdown no-arrow mx-1">
                                                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-bell fa-fw"></i>
                                                            <!-- Counter - Alerts -->
                                                            <span class="badge badge-danger badge-counter">3+</span>
                                                        </a>
                                                        <!-- Dropdown - Alerts -->
                                                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                                            <h6 class="dropdown-header">
                                                                Alerts Center
                                                            </h6>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="mr-3">
                                                                    <div class="icon-circle bg-primary">
                                                                        <i class="fas fa-file-alt text-white"></i>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="small text-gray-500">December 12, 2019</div>
                                                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="mr-3">
                                                                    <div class="icon-circle bg-success">
                                                                        <i class="fas fa-donate text-white"></i>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="small text-gray-500">December 7, 2019</div>
                                                                    $290.29 has been deposited into your account!
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="mr-3">
                                                                    <div class="icon-circle bg-warning">
                                                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="small text-gray-500">December 2, 2019</div>
                                                                    Spending Alert: We've noticed unusually high spending for your account.
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                                        </div>
                                                    </li>

                                                    <!-- Nav Item - Messages -->
                                                    <li class="nav-item dropdown no-arrow mx-1">
                                                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-envelope fa-fw"></i>
                                                            <!-- Counter - Messages -->
                                                            <span class="badge badge-danger badge-counter">7</span>
                                                        </a>
                                                        <!-- Dropdown - Messages -->
                                                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                                            <h6 class="dropdown-header">
                                                                Message Center
                                                            </h6>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="dropdown-list-image mr-3">
                                                                    <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                                                    <div class="status-indicator bg-success"></div>
                                                                </div>
                                                                <div class="font-weight-bold">
                                                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="dropdown-list-image mr-3">
                                                                    <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                                                    <div class="status-indicator"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="dropdown-list-image mr-3">
                                                                    <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                                                    <div class="status-indicator bg-warning"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                                <div class="dropdown-list-image mr-3">
                                                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                                                    <div class="status-indicator bg-success"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                                                </div>
                                                            </a>
                                                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                                        </div>
                                                    </li>

                                                    <div class="topbar-divider d-none d-sm-block"></div>

                                                    <!-- Nav Item - User Information -->
                                                    <li class="nav-item dropdown no-arrow">
                                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                                            <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                                                        </a>
                                                        <!-- Dropdown - User Information -->
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                                            </a>
                                                        </div>
                                                    </li>

                                                </ul>

                                            </nav>
                                            <!-- End of Topbar -->

                                            <!-- Begin Page Content -->
                                            <div class="container-fluid">

                                                <!-- Page Heading -->
                                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                                                </div>

                                                <!-- Content Row -->
                                                <div class="row">

                                                    <!-- Earnings (Monthly) Card Example -->
                                                    <div class="col-xl-3 col-md-6 mb-4">
                                                        <div class="card border-left-primary shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                            Earnings (Monthly)</div>
                                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Earnings (Monthly) Card Example -->
                                                    <div class="col-xl-3 col-md-6 mb-4">
                                                        <div class="card border-left-success shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                            Earnings (Annual)</div>
                                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Earnings (Monthly) Card Example -->
                                                    <div class="col-xl-3 col-md-6 mb-4">
                                                        <div class="card border-left-info shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                                                        </div>
                                                                        <div class="row no-gutters align-items-center">
                                                                            <div class="col-auto">
                                                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="progress progress-sm mr-2">
                                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Pending Requests Card Example -->
                                                    <div class="col-xl-3 col-md-6 mb-4">
                                                        <div class="card border-left-warning shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                            Pending Requests</div>
                                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Content Row -->

                                                <div class="row">

                                                    <!-- Area Chart -->
                                                    <div class="col-xl-8 col-lg-7">
                                                        <div class="card shadow mb-4">
                                                            <!-- Card Header - Dropdown -->
                                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                                                <div class="dropdown no-arrow">
                                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Card Body -->
                                                            <div class="card-body">
                                                                <div class="chart-area">
                                                                    <canvas id="myAreaChart"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Pie Chart -->
                                                    <div class="col-xl-4 col-lg-5">
                                                        <div class="card shadow mb-4">
                                                            <!-- Card Header - Dropdown -->
                                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                                                <div class="dropdown no-arrow">
                                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Card Body -->
                                                            <div class="card-body">
                                                                <div class="chart-pie pt-4 pb-2">
                                                                    <canvas id="myPieChart"></canvas>
                                                                </div>
                                                                <div class="mt-4 text-center small">
                                                                    <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Content Row -->
                                                <div class="row">

                                                    <!-- Content Column -->
                                                    <div class="col-lg-6 mb-4">

                                                        <!-- Project Card Example -->
                                                        <div class="card shadow mb-4">
                                                            <div class="card-header py-3">
                                                                <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                                                            </div>
                                                            <div class="card-body">
                                                                <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                                                                <div class="progress mb-4">
                                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                                                                <div class="progress mb-4">
                                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                                                                <div class="progress mb-4">
                                                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                                                                <div class="progress mb-4">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Color System -->
                                                        <div class="row">
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-primary text-white shadow">
                                                                    <div class="card-body">
                                                                        Primary
                                                                        <div class="text-white-50 small">#4e73df</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-success text-white shadow">
                                                                    <div class="card-body">
                                                                        Success
                                                                        <div class="text-white-50 small">#1cc88a</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-info text-white shadow">
                                                                    <div class="card-body">
                                                                        Info
                                                                        <div class="text-white-50 small">#36b9cc</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-warning text-white shadow">
                                                                    <div class="card-body">
                                                                        Warning
                                                                        <div class="text-white-50 small">#f6c23e</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-danger text-white shadow">
                                                                    <div class="card-body">
                                                                        Danger
                                                                        <div class="text-white-50 small">#e74a3b</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-secondary text-white shadow">
                                                                    <div class="card-body">
                                                                        Secondary
                                                                        <div class="text-white-50 small">#858796</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-light text-black shadow">
                                                                    <div class="card-body">
                                                                        Light
                                                                        <div class="text-black-50 small">#f8f9fc</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mb-4">
                                                                <div class="card bg-dark text-white shadow">
                                                                    <div class="card-body">
                                                                        Dark
                                                                        <div class="text-white-50 small">#5a5c69</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6 mb-4">

                                                        <!-- Illustrations -->
                                                        <div class="card shadow mb-4">
                                                            <div class="card-header py-3">
                                                                <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="text-center">
                                                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="...">
                                                                </div>
                                                                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images
                                                                    that you can use completely free and without attribution!</p>
                                                                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                                            </div>
                                                        </div>

                                                        <!-- Approach -->
                                                        <div class="card shadow mb-4">
                                                            <div class="card-header py-3">
                                                                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                                            </div>
                                                            <div class="card-body">
                                                                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility
                                                                    classes.
                                                                </p>
                                                                <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.container-fluid -->

                                        </div>
                                        <!-- End of Main Content -->

                                        <!-- Footer -->
                                        <footer class="sticky-footer bg-white">
                                            <div class="container my-auto">
                                                <div class="copyright text-center my-auto">
                                                    <span>Copyright &copy; Your Website 2021</span>
                                                </div>
                                            </div>
                                        </footer>
                                        <!-- End of Footer -->

                                    </div>
                                    <!-- End of Content Wrapper -->

                                </div>
                                <!-- End of Page Wrapper -->

                                <!-- Scroll to Top Button-->
                                <a class="scroll-to-top rounded" href="#page-top">
                                    <i class="fas fa-angle-up"></i>
                                </a>

                                <!-- Logout Modal-->
                                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">

                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                                    </div>
                                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-primary" href="login.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bootstrap core JavaScript-->
                        <script src="vendor/jquery/jquery.min.js"></script>
                        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                        <!-- Core plugin JavaScript-->
                        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

                        <!-- Custom scripts for all pages-->
                        <script src="js/sb-admin-2.min.js"></script>

                        <!-- Page level plugins -->
                        <script src="vendor/chart.js/Chart.min.js"></script>

                        <!-- Page level custom scripts -->
                        <script src="js/demo/chart-area-demo.js"></script>
                        <script src="js/demo/chart-pie-demo.js"></script>
                        <div class="publicacion">
                            <div class="header">
                                <a class="foto" href="#">
                                    <img src="img/persona4.jpg" alt="">
                                </a>
                                <div class="datos">
                                    <a class="nombre" href="#">Cesar Doe</a>
                                    <a class="hora" href="#">2hr</a>
                                </div>
                            </div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet.</p>
                                <img src="img/paisaje2.jpg" alt="">
                            </div>
                            <div class="comentarios d-flex justify-content-between">
                                <div class="me-gusta d-flex justify-content-start align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    <span>60</span>
                                </div>
                                <a href="#">7 comentarios</a>
                            </div>
                            <div class="botones  d-flex">
                                <button class="me-gusta">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
                                    </svg>
                                    Me gusta
                                </button>
                                <button class="comentar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    </svg>
                                    Comentar
                                </button>
                            </div>
                        </div>
                    </div>
                </main>

                <aside class="contactos col-3 col-xl-2">
                    <div class="seccion">
                        <h3 class="titulo">Publicidad</h3>
                        <div class="publicidad">
                            <a href="#">
                                <img src="img/ad1.jpg" alt="">
                            </a>
                        </div>
                        <div class="publicidad">
                            <a href="#">
                                <img src="img/ad2.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="seccion">
                        <h3 class="titulo">Contactos</h3>
                        <nav>
                            <a href="#" class="perfil">
                                <img src="img/persona1.jpg" alt="">Alejandro Doe
                            </a>
                            <a href="#" class="perfil">
                                <img src="img/persona3.jpg" alt="">Stephanie Doe
                            </a>
                            <a href="#" class="perfil">
                                <img src="img/persona4.jpg" alt="">Cesar Doe
                            </a>
                            <a href="#" class="perfil">
                                <img src="img/persona5.jpg" alt="">Manuel Doe
                            </a>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>


    </body>

</html>ody>

</html>ody>

</html>