<aside class="enlaces-rapidos col-3 col-xl-2">

	<nav>

		<a href="/apa-club" class="perfil">
			<img src="images/svg/dash_club/asideNav00.svg" alt="icon" class="icoon"> Home
		</a>
		<a href="/apa-club/misAmigos" class="social">
			<img src="images/svg/dash_club/asideNav02.svg" alt="icon" class="icoon" >  Amigos
		</a>
		<a href="/apa-club/miPerfil" class="perfil">
			<img src="images/svg/dash_club/asideNav01.svg" alt="icon" class="icoon"> Mi Perfil
		</a>
		<a href="/apa-club/misReservas">
				<img src="images/svg/dash_club/asideNav03.svg" alt="icon" class="icoon" > Mis Reservas
		</a>
		<a href="/apa-club/misFavoritos">
				<img src="images/svg/dash_club/asideNav05.svg" alt="icon" class="icoon" > Mis Favoritos
		</a>
		<a href="/apa-club/puntaje">
			<img src="images/svg/dash_club/asideNav04.svg" alt="icon" class="icoon" > Mis Puntos
	</a>
	<a href="/apa-club/buscarApa">
		<img src="images/svg/dash_club/asideNav06.svg" alt="icon" class="icoon" > 
		   APA! Busca
		</a>

	</nav>

	<footer>
		<nav>
			<a href="#">Privacidad</a>
			<a href="#">Condiciones</a>
			<a href="#">Publicidad</a>
			<a href="#">Opciones de anuncios</a>
			<a href="#">Cookies</a>
			<a href="#">Más</a>
		</nav>
	</footer>
</aside>
