<div class="publicar">
    <div class="formulario">
        <h5> Especiales para:</h5>
        <br/>
        <hr/>
        <h3>@user_name</h3>
    </div>
    <div class="botones d-flex ">
        <a href="#" class="active-link">
            <span class="text-light">
			<i class="bi bi-balloon-fill"></i>  APA!Indica</span>
        </a>
        <a href="# ">
            <span class="text-light">
			<i class="bi bi-chat-heart"></i> Menor Precio</span>
        </a>
        <a href=" ">
            <span><i class="bi bi-award"></i> + Puntuados</span>
        </a>
    </div>
</div>