<!DOCTYPE html>

<html lang='en' class=''>

<head>
    <link rel=" preconnect " href="https://fonts.googleapis.com ">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!-- BBB IMAGE-->
    <script async src="https://imgbb.com/upload.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3 " crossorigin="anonymous ">
    <!--BST 5 ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->



    <style class="cp-pen-styles">
        @import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        *:focus {
            outline: 0;
        }
        
        html,
        body {
            height: 100%;
            background: #121416;
            color: #FFF;
            font-size: 16px;
            font-family: "Roboto";
        }
        
        .container {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        
        .vert-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        
        .servers {
            height: 100%;
            background: #1E2124;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 70px;
            flex: 0 0 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            overflow-y: auto;
            padding: 18px 0 18px 0;
            -ms-overflow-style: none;
        }
        
        .servers::-webkit-scrollbar {
            display: none;
        }
        
        .channels {
            background: #2E3136;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 240px;
            flex: 0 0 240px;
        }
        
        .channels .channels-header {
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 56px;
            flex: 0 0 56px;
            padding: 28px 24px;
            -webkit-box-shadow: 0 1px 0 #24272b, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 0 #24272b, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease;
        }
        
        .channels .channels-header .channels-header-dropdown {
            width: 18px;
            height: 18px;
            margin-left: auto;
            pointer-events: none;
        }
        
        .channels .channels-header .channels-header-dropdown use {
            stroke-dasharray: 7;
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: stroke-dasharray 0.2s ease, -webkit-transform 0.2s ease;
            transition: stroke-dasharray 0.2s ease, -webkit-transform 0.2s ease;
            transition: stroke-dasharray 0.2s ease, transform 0.2s ease;
            transition: stroke-dasharray 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
        }
        
        .channels .channels-header:hover,
        .channels .channels-header:focus {
            background: #282b2f;
        }
        
        .channels .channels-header:focus use {
            stroke-dasharray: 14;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .channels .channels-list-text,
        .channels .channels-list-voice {
            margin: 0 -20px 0 -20px;
        }
        
        .channels .channels-header-name {
            font-size: 1rem;
            font-weight: 500;
        }
        
        .channels .channel {
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 8px 20px 10px 20px;
            opacity: 0.3;
            width: 100%;
        }
        
        .channels .channel .button {
            display: none;
            opacity: 0.2;
        }
        
        .channels .channel .button:hover,
        .channels .channel .button:focus {
            opacity: 1;
        }
        
        .channels .channel.active,
        .channels .channel:hover,
        .channels .channel:focus {
            opacity: 1;
        }
        
        .channels .channel.active .button,
        .channels .channel:hover .button,
        .channels .channel:focus .button {
            display: block;
        }
        
        .channels .channel .channel-name {
            font-size: 0.9rem;
            font-weight: 300;
        }
        
        .channels .channel .button:first-of-type {
            margin-left: auto;
            margin-right: 8px;
        }
        
        .channels .channel .button {
            width: 16px;
            height: 16px;
        }
        
        .channels .channel-text {
            position: relative;
        }
        
        .channels .channel-text.active,
        .channels .channel-text:hover,
        .channels .channel-text:focus {
            background: -webkit-gradient(linear, left top, right top, color-stop(85%, #282b30), to(#2e3136));
            background: linear-gradient(to right, #282b30 85%, #2e3136);
        }
        
        .channels .channel-text.active::before,
        .channels .channel-text:hover::before,
        .channels .channel-text:focus::before {
            content: " ";
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            background: #7289DA;
        }
        
        .channels .channel-text:not(.active):focus::before,
        .channels .channel-text:not(.active):hover::before {
            opacity: 0.25;
        }
        
        .channels .channel-text .channel-name::before {
            font-weight: 400 !important;
        }
        
        .channels .channels-list {
            -webkit-box-flex: 1;
            -ms-flex: 1 1;
            flex: 1 1;
            overflow-y: auto;
            padding: 0 20px;
        }
        
        .channels .channels-list ul {
            list-style: none;
        }
        
        .channels .channels-list .channels-list-header {
            cursor: pointer;
            margin-top: 20px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
            font-size: 0.87rem;
            letter-spacing: 0.04rem;
            -webkit-transition: color 0.2s linear;
            transition: color 0.2s linear;
            line-height: 30px;
            position: relative;
        }
        
        .channels .channels-list .channels-list-header:hover,
        .channels .channels-list .channels-list-header:focus {
            color: #FFF;
        }
        
        .channels .channels-list .channels-list-header:hover::after,
        .channels .channels-list .channels-list-header:focus::after {
            opacity: 1;
        }
        
        .channels .channels-list .channels-list-header::after {
            position: absolute;
            top: 10px;
            right: 0;
            content: " ";
            width: 10px;
            height: 10px;
            opacity: 0.3;
            -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTguOTksMy45OUg2LjAxVjEuMDFDNi4wMSwwLjQ1Miw1LjU1OCwwLDUsMFMzLjk5LDAuNDUyLDMuOTksMS4wMVYzLjk5SDEuMDFDMC40NTIsMy45OSwwLDQuNDQyLDAsNWMwLDAuNTU4LDAuNDUyLDEuMDEsMS4wMSwxLjAxSDMuOTlWOC45OUMzLjk5LDkuNTQ4LDQuNDQyLDEwLDUsMTBzMS4wMS0wLjQ1MiwxLjAxLTEuMDFWNi4wMUg4Ljk5QzkuNTQ4LDYuMDEsMTAsNS41NTgsMTAsNUMxMCw0LjQ0Miw5LjU0OCwzLjk5LDguOTksMy45OXoiLz48L3N2Zz4=) no-repeat 50%;
        }
        
        .channels .channels-footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 70px;
            flex: 0 0 70px;
            margin-top: auto;
            background: #282b30;
            border-top: 1px solid #1c1e21;
            padding: 0 10px;
        }
        
        .channels .channels-footer .channels-footer-details {
            margin-left: 10px;
        }
        
        .channels .channels-footer .channels-footer-controls {
            margin-left: auto;
            border: 1px solid #1c1e21;
            border-radius: 4px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        
        .channels .channels-footer .channels-footer-controls .button {
            display: block;
            width: 32px;
            height: 32px;
        }
        
        .channels .channels-footer .channels-footer-controls .button svg {
            width: 16px;
        }
        
        .channels .channels-footer .channels-footer-controls .button:hover svg,
        .channels .channels-footer .channels-footer-controls .button:focus svg {
            -webkit-filter: brightness(200%);
            filter: brightness(200%);
        }
        
        .channels .channels-footer .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        
        .channels .channels-footer .username,
        .channels .channels-footer .tag {
            display: block;
            font-weight: 300;
        }
        
        .channels .channels-footer .username {
            font-size: 0.9rem;
        }
        
        .channels .channels-footer .tag {
            color: rgba(255, 255, 255, 0.45);
            font-size: 0.7rem;
        }
        
        .menu {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 57px;
            flex: 0 0 57px;
            padding: 0 20px 0 20px;
            background: #36393E;
            border-bottom: 1px solid #303337;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .menu .menu-name {
            font-weight: bold;
            font-size: 1.3rem;
            letter-spacing: 0.05rem;
        }
        
        .hash-before::before,
        .channels .channel-text .channel-name::before,
        .menu .menu-name::before {
            content: "#";
            margin-right: 2px;
            font-weight: 300;
            color: #8A8E94;
        }
        
        .chat {
            background: #36393E;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        
        .server {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: #2E3136;
            background-repeat: no-repeat;
            margin-bottom: 8px;
            cursor: pointer;
            position: relative;
        }
        
        .server:not(.active) {
            -webkit-animation: server-hover-out 0.6s ease;
            animation: server-hover-out 0.6s ease;
        }
        
        .server:not(.active):hover,
        .server:not(.active):focus {
            -webkit-animation: server-hover-in 0.8s ease forwards;
            animation: server-hover-in 0.8s ease forwards;
        }
        
        .server .server-icon {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        
        .server .server-icon>img {
            border-radius: inherit;
            max-width: 100%;
        }
        
        .server.server-friends {
            margin-bottom: 46px;
            text-align: center;
        }
        
        .server.server-friends svg {
            max-width: 60%;
            max-height: 60%;
        }
        
        .server.server-friends.active::before {
            display: none;
        }
        
        .server.server-friends::after {
            content: "2 ONLINE";
            color: rgba(255, 255, 255, 0.3);
            pointer-events: none;
            font-weight: 300;
            font-size: 0.65rem;
            position: absolute;
            bottom: -35px;
            left: 3px;
            padding-bottom: 10px;
            border-bottom: 2px solid #2a2e32;
        }
        
        .server::before {
            position: absolute;
            top: 20px;
            left: -15px;
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 25px;
        }
        
        .server.active {
            border-radius: 15px;
            background-color: #7289DA;
        }
        
        .server.unread::before {
            background: #8A8E94;
        }
        
        .server.active::before {
            background: #FFF;
            height: 40px;
            top: 5px;
        }
        
        .server.active.unread::before {
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        
        .button {
            background: #2E3136;
            border: 0;
            color: inherit;
            cursor: pointer;
            font: inherit;
            line-height: normal;
            overflow: visible;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .button>svg,
        .button>img {
            max-width: 100%;
            max-height: 100%;
        }
        
        .button-group .button:focus,
        .button-group .button:active {
            background: #3a3d44;
        }
        
        .button-group .button:not(:last-of-type) {
            border-right: 1px solid #1c1e21;
        }
        
        .button-group .button+.button {
            -webkit-box-shadow: inset 1px 0 0 #393c41;
            box-shadow: inset 1px 0 0 #393c41;
        }
        
        svg[id] {
            width: 0;
            position: absolute;
        }
        
        @-webkit-keyframes server-hover-in {
            0% {
                border-radius: 25px;
                background-color: #2E3136;
            }
            40% {
                border-radius: 12px;
            }
            70% {
                border-radius: 16.7px;
            }
            80% {
                background-color: #7289DA;
            }
            100% {
                border-radius: 15px;
                background-color: #7289DA;
            }
        }
        
        @keyframes server-hover-in {
            0% {
                border-radius: 25px;
                background-color: #2E3136;
            }
            40% {
                border-radius: 12px;
            }
            70% {
                border-radius: 16.7px;
            }
            80% {
                background-color: #7289DA;
            }
            100% {
                border-radius: 15px;
                background-color: #7289DA;
            }
        }
        
        @-webkit-keyframes server-hover-out {
            0% {
                border-radius: 15px;
                background-color: #7289DA;
            }
            45% {
                border-radius: 25px;
                background-color: #2E3136;
            }
            65% {
                border-radius: 25px;
            }
            75% {
                border-radius: 23.5px;
            }
            100% {
                border-radius: 25px;
            }
        }
        
        @keyframes server-hover-out {
            0% {
                border-radius: 15px;
                background-color: #7289DA;
            }
            45% {
                border-radius: 25px;
                background-color: #2E3136;
            }
            65% {
                border-radius: 25px;
            }
            75% {
                border-radius: 23.5px;
            }
            100% {
                border-radius: 25px;
            }
        }
    </style>
</head>

<body>
    <main class="container" style="width: 100vw; margin: 0px">
        <aside class="servers">


            <div class="servers-collection">
                <div class="server focusable unread" role="button" aria-label="Discord Developers unread">
                </div>
            </div>
            </div>

            <div class="servers-collection">
                <div class="server focusable active" role="button" aria-label="My Server" aria-selected="true">

                </div>
        </aside>

        <aside class="channels">
            <header class="channels-header focusable">
                <h3 role="header" class="channels-header-name">My Server</h3>
                <svg role="button" aria-label="Dropdown" class="channels-header-dropdown"><use xlink:href="#icon-dropdown" /></svg>
            </header>

            <section class="channels-list">
                <header class="channels-list-header focusable">
                    <h5>Text Channels</h5>
                </header>

                <ul class="channels-list-text">
                    <li class="channel focusable channel-text active">
                        <span class="channel-name">general</span>
                        <button class="button" role="button" aria-label="Invite"><svg><use xlink:href="#icon-invite" /></svg></button>
                        <button class="button" role="button" aria-label="settings"><svg><use xlink:href="#icon-channel-settings" /></svg></button>
                    </li>

                    <li class="channel focusable channel-text">
                        <span class="channel-name">help</span>
                        <button class="button" role="button" aria-label="Invite"><svg><use xlink:href="#icon-invite" /></svg></button>
                        <button class="button" role="button" aria-label="settings"><svg><use xlink:href="#icon-channel-settings" /></svg></button>
                    </li>
                </ul>

                <header class="channels-list-header focusable">
                    <h5>Voice Channels</h5>
                </header>
            </section>

            <footer class="channels-footer">
                <img class="avatar" alt="Avatar" src="https://discordapp.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png" />
                <div class="channels-footer-details">
                    <span class="username">yourself</span>
                    <span class="tag">#0001</span>
                </div>
                <div class="channels-footer-controls button-group">
                    <button role="button" aria-label="Mute" class="button button-mute"><svg><use xlink:href="#icon-mute" /></svg></button>
                    <button role="button" aria-label="Deafen" class="button button-deafen"><svg><use xlink:href="#icon-deafen" /></svg></button>
                    <button role="button" aria-label="Settings" class="button button-settings"><svg><use xlink:href="#icon-settings" /></svg></button>
                </div>
            </footer>
        </aside>

        <div class="vert-container">
            <menu type="toolbar" class="menu">
                <h2 class="menu-name">INICIO</h2>
            </menu>

            <section class="chat">



                <!-- ICONS -->
                <svg id="icon-friends" viewBox="-289 382 32 27.1">id="header">
                    <div class="center">
                        <!-- LOGO -->
                        <div id="logo">
                            <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo" />
                            <span id="brand">
                                <strong>Curso</strong>Angular
                            </span>
                        </div>
                        
                        <!-- MENU -->
                        <nav id="menu">
                            <ul>
                                <li>
                                    <a href="index.html">Inicio</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="formulario.html">Formulario</a>
                                </li>
                                <li>
                                    <a href="#">Pagina 1</a>
                                </li>
                                <li>
                                    <a href="#">Pagina 2</a>
                                </li>                            
                            </ul>
                        </nav>
        
                        <!--LIMPIAR FLOTADOS-->
                        <div class="clearfix"></div>
                    </div>
                </header>
        
                <div id="slider" class="slider-small">
                    <h1>Blog</h1>
                </div></svg>


                <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
                <script>
                    var $ = document.querySelectorAll.bind(document);
                    $(".focusable, .button").forEach(function(el) {
                        // blur only on mouse click
                        // for accessibility, keep focus when keyboard focused
                        el.addEventListener("mousedown", function(e) {
                            return e.preventDefault();
                        });
                        el.setAttribute("tabindex", "0");
                    });
                    $(".server").forEach(function(el) {
                        el.addEventListener("click", function() {
                            var activeServer = $(".server.active")[0];
                            activeServer.classList.remove("active");
                            activeServer.removeAttribute("aria-selected");
                            el.classList.add("active");
                            el.setAttribute("aria-selected", true);
                        });
                    });
                    $(".channel-text").forEach(function(el) {
                        el.addEventListener("click", function() {
                            $(".channel-text.active")[0].classList.remove("active");
                            el.classList.add("active");
                        });
                    });
                    // focus/blur on channel header click
                    $(".channels-header")[0].addEventListener("click", function(e) {
                        e.preventDefault();
                        var focused = document.activeElement === e.target;
                        focused ? e.target.blur() : e.target.focus();
                    });

                    //# sourceURL=pen.js
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js "></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

</body>

</html>