<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <%- include('../partials/headSocio'); %>


        <title>BIEN-VENIDO
            <%= title %>
        </title>
        <!--FONT AWESOME  -->
        <script src="https://kit.fontawesome.com/0c502158eb.js " crossorigin="anonymous "></script>
</head>

<body class="bodyPage">
    <%- include('../partials/navSocio'); %>
        <section class="div2">

            <div class="container">
                <div id="marketing" class="section">
                    <div class="content">
                        <a href="/cadastroEmpresa" class="nav-link">
                            <h1 class="textIndex"><span class="apaColor">APA!</span><br/> EMPRESAS </h1>
                        </a>
                    </div>
                    <div class="overlay"></div>
                </div>

                <div id="technology" class="section">
                    <div class="content">
                        <a class="nav-link" href="/home">
                            <h1 class="textIndex"><span class="apaColor">APA!</span><br/> HOME</h1>
                        </a>
                    </div>
                    <div class="overlay"></div>
                </div>

                <div id="advertising" class="section">
                    <div class="content">
                        <a href="/login" class="nav-link">
                            <h1 class="textIndex"><span class="apaColor">APA!</span><br/>LOGIN</h1>
                        </a>
                    </div>
                </div>
                <div class="overlay"></div>

            </div>
            </a>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>