<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head.ejs')%>
        <!--FONT AWESOME  -->
        <script src="https://kit.fontawesome.com/0c502158eb.js " crossorigin="anonymous "></script>
        <link rel='stylesheet' href='/public/stylesheets/normalize.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/style_Ofertas.css' type="text/css">
        <title>
            <%= title ;%>
        </title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script async src="https://imgbb.com/upload.js"></script>
</head>


<body class="bodyPage bg-secondary">
    <header class="div1 bg-secondary">
        <%- include('../partials/navbarTop'); %>


            <div class="container">
                <h3 class="h3">shopping Demo-8 </h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-grid8">
                            <div class="product-image8">
                                <a href="#">
                                    <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar4.png">
                                    <img class="pic-2" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" class="fa fa-search"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-bag"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-cart"></a>
                                    </li>
                                </ul>
                                <span class="product-discount-label">-20%</span>
                            </div>
                            <div class="product-content">
                                <div class="price">£ 8.00
                                    <span>£ 10.00</span>
                                </div>
                                <span class="product-shipping">Free Shipping</span>
                                <h3 class="title"><a href="#">Women's Plain Top</a></h3>
                                <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="product-grid8">
                            <div class="product-image8">
                                <a href="#">
                                    <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar4.png">
                                    <img class="pic-2" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" class="fa fa-search"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-bag"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-cart"></a>
                                    </li>
                                </ul>
                                <span class="product-discount-label">-30%</span>
                            </div>
                            <div class="product-content">
                                <div class="price">£ 7.00
                                    <span>£ 10.00</span>
                                </div>
                                <span class="product-shipping">Free Shipping</span>
                                <h3 class="title"><a href="#">Women's Designer Top</a></h3>
                                <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="product-grid8">
                            <div class="product-image8">
                                <a href="#">
                                    <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar4.png">
                                    <img class="pic-2" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" class="fa fa-search"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-bag"></a>
                                    </li>
                                    <li>
                                        <a href="" class="fa fa-shopping-cart"></a>
                                    </li>
                                </ul>
                                <span class="product-discount-label">-20%</span>
                            </div>
                            <div class="product-content">
                                <div class="price">£ 8.00
                                    <span>£ 10.00</span>
                                </div>
                                <span class="product-shipping">Free Shipping</span>
                                <h3 class="title"><a href="#">Women's Plain Top</a></h3>
                                <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <hr>


            <%-include('../partials/navbarBottom.ejs')%>

</body>

</html>