
<section class="d-flex pt-5 pb-0 h-100">
    <div class="container align-self-center">
        <div class="bg-primary text-light text-center p-5 rounded w-75 mx-auto mb-5">
            <h2 class="display-4 fw-bold">Abre tu cuenta hoy</h2>
            <p class="lead">Es rápidoo y sencillo, solo te tomará menos de 5 minutos</p>
            <div class="cta-form position-relative mx-auto d-none d-md-block">
                <input type="email" class="form-control" placeholder="Correo electrónico">
                <button type="submit" class="btn btn-primary position-absolute">Abre tu cuenta hoy</button>
            </div>
            <div class="d-md-none">
                <input type="email" class="form-control mb-3" placeholder="Correo electrónico">
                <button type="submit" class="btn btn-light w-100">Abre tu cuenta hoy</button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-3 col-sm-6 my-4">
                <h5 class="fw-bold mb-3">PRINCIPALES</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="/" class="text-dark text-decoration-none">INDEX </a></li>
                    <li class="mb-3"><a href="/home" class="text-dark text-decoration-none">Landing USUARIOS</a></li>
                    <li><a href="/productos" class="text-dark text-decoration-none">Landing PRODUCTOS</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4">
                <h5 class="fw-bold mb-3">Usuarios</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="/login" class="text-dark text-decoration-none">Iniciar Seccion</a></li>
                    <li class="mb-3"><a href="/usuarios/crearCuenta" class="text-dark text-decoration-none">NUEVOS SOCIOS</a></li>
                    <li><a href="" class="text-dark text-decoration-none">Mi CUENTA</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4">
                <h5 class="fw-bold mb-3">EMPRESAS</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="" class="text-dark text-decoration-none">Landing EMPRESA</a></li>
                    <li class="mb-3"><a href="" class="text-dark text-decoration-none">Cadastro EMPRESA</a></li>
                    <li><a href="" class="text-dark text-decoration-none">APA! BUSQUEDA</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4">
                <h5 class="fw-bold mb-3">Links Projecto</h5>
                <ul class="list-unstyled">
                        <ul class="list-inline">
                            <li class="mb-3"><span><img src="./../images/svg/icoon06.svg" alt="GITHUB icon" class="icon"/></span>
                                <a href="https://github.com/BotechiaErika/grupo_010_apa" class="footer-link">Grupo 010 APA</a></li>
                            <li>
                            <li class="mb-3"><span><img src="./../images/svg/icoon07.svg" alt="HEROKU icon" class="icon"/></span>
                                <a href="https://apa-project.herokuapp.com/" class="footer-link">Deploys HEROKU</a></li>
                            <li>
                            <li class="mb-3"><span><img src="./../images/svg/icoon08.svg" alt="TRELLO icon" class="icon"/></span>
                                <a href="https://trello.com/grupo_010_apa" class="footer-link">TRELLO BOARDS</a></li>
                            <li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <div class="border-top py-4">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <small>
                        <p>&copy; 2022 APA! After Night - Todos Derechos Reservados</p>
                    </small>
                </div>
                <div class="col-lg-6 col-md-12" style="margin-bottom: 40px;">
                    <ul class="list-inline text-lg-end">
                        <li class="list-inline-item"><a href="#" class="text-dark text-decoration-none"><small>Términos y condiciones</small></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark text-decoration-none"><small>Aviso de privacidad</small></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
