	<div class="container">
<header class="row">
	<div class="col">
		<h1 class="hex-1 h1-01"> <span class="text-dark" style="font-weight: 400">APA <%=page-front%> </span><%=page-title%></h1>
	</div>
</header>
