<!DOCTYPE html>
</div>
<div class="div3" style="align-content: center;">
    <nav class="navbar fixed-bottom bg-custom container-fluid text-center aligned-items-center" style="align-content: center;">
        <form class="form-group align-center " method="GET" action="/search/navBottom">
            <label class="text-light" for="buscarFooter">Ingrese ZONA CABA</label>
            <select>
            <option> ZONAS CABA</option>
            <option value="sZ1">c1:Puerto Madero, San Telmo, Montserrat y Constitución </option>
            <option value="sZ2">c2: Recoleta</option>
            <option value="sZ3">c3: Balvanera y San Cristóbal.</option>
            <option value="sZ4">c4: La Boca, Barracas, Parque Patricios y Nueva Pompeya.</option>
            <option value="sZ5">c5: Almagro y Boedo.</option>
            <option value="sZ6">c6: Caballito</option>
            <option value="sZ7">c7: Flores y Parque Chacabuco.</option>
            <option value="sZ8">c8: Villa Soldati, Villa Riachuelo y Villa Lugano.</option>
            <option value="sZ9">c9: Liniers, Mataderos y Parque Avellaneda.</option>
            <option value="sZ10">c10:  Villa Real, Monte Castro, Versalles, Floresta, Vélez Sarsfield y Villa Luro.</option>
            <option value="sZ11">c11: Villa General Mitre, Villa Devoto, Villa del Parque y Villa Santa Rita.</option>
            <option value="sZ12">c12: Coghlan, Saavedra, Villa Urquiza y Villa Pueyrredón.</option>
            <option value="sZ13">c13: Núñez, Belgrano y Colegiales.</option>
            <option value="sZ14">c14: Palermo</option>
            <option value="sZ15">c15: Chacarita, Villa Crespo, La Paternal, Villa Ortúzar, Agronomía y Parque Chas.</option>
            </select>
            <button type="submit" value="buscarFooter" class="btn btn-dark btn-sm "><i class="bi bi-search-heart-fill "></i></button>
        </form>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> <html>