<body class="bg-1">

    <div class="navbar-collapse collapse show" id="navbarTogglerDemo02" style="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="nLink">HOME</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="nLink">BUSCAR</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle show" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="color: ">
                    <span class="nLink">CLUB</span>
                </a>
                <ul class="dropdown-menu show" aria-labelledby="navbarScrollingDropdown" data-bs-popper="none">
                    <li><a class="dropdown-item" href="#"><span class="nLink">LOGIN</span></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"><span class="nLink">NUEVOS SOCIOS</span></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"><span class="nLink">EMPRESAS</span></a></li>
                </ul>
            </li>
        </ul>

    </div>
    </div>
    </nav>
    </div>
    <!--  -->
    <div class="div2">