<body class="bg-01">

    <nav class="navbar fixed navbar-expand-lg navbar-light bg-light menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a><span class="apaBrand">APA!</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text"></span>
          </button>
            <div class="navbar-collapse collapse show" id="navbarTogglerDemo02" style="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="nLink">HOME</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="nLink">BUSCAR</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle show" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="color: ">
                            <span class="nLink">CLUB</span>
                        </a>
                        <ul class="dropdown-menu show" aria-labelledby="navbarScrollingDropdown" data-bs-popper="none">
                            <li><a class="dropdown-item" href="#"><span class="nLink">LOGIN</span></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><span class="nLink">NUEVOS SOCIOS</span></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><span class="nLink">EMPRESAS</span></a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <section class="section">

    </section>
    <footer>
        <nav class="navbar fixed-bottom bg-custom container-fluid ">
            <form class="form-group align-center ">
                <input id="name " type="text " name="search " for="search " placeholder="buscar... ">
                <button type="button " class="btn btn-dark btn-sm "><i class="bi bi-search-heart-fill "></i></button>
            </form>

        </nav>
    </footer>


    <!-- Optional JavaScript -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Popper.js first, then Bootstrap JS -->





</body>