<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style_empresas.css">
    <title>EMPRESAS</title>
</head>

<body>

    <div class="grid-container">
        <div class="header">

            <h2 class="nav">Files ></h2>

        </div>
        <div class="header">

            <h2 class="nav">Files ></h2>

        </div>
        <div class="header">

            <h2 class="nav">Files ></h2>

        </div>
        <div class="header">

            <h2 class="nav">Files ></h2>

        </div>



        <div class="main-one">
            <h2 class="titulo00">Ahorra tu tiempo y tu dinero </h2>

            <h3 class="titulo02">Los mejores precios para tu negocio <br />
                <br> y tus clientes
            </h3>

            <img class="persona" src="img/svg/chica.svg" alt="" srcset="">

        </div>
        <div class="main-two">
            <h2 class="parrafo02">Para saber más</h2>

            <p class="parrafo03"> Nuestro servicio brinda una opción para el público conocimiento de acceso a reservas para hoteles transitorios. Nuestra audiencia son los usuarios jóvenes y adultos millennials. Ajustamos la oferta según el parámetro de lo que el usuario esté
                buscando, de esa forma él/ella puede elegir según su interés.
                <img class="persona02" src="img/hombre.png" alt="">


            </p>

        </div>



        <div class="main-three">



            <h2 class="titulo01">Sobre Nosotros</h2>

            <p class="parrafo04">Luego conocer a la facilidad de APP de reservas en diversas ramas, identificamos la carencia de una APP eficiente. Queriendo abarcar todas expectativas de un usuario que use la APP. Por lo que surge APA, para facilitar el placer de diversión
                y en donde los usuarios,tengan accesibilidad y usabilidad para planear su momento de felicidad

                <br><br>
                <button class="boton02">Registrarse</button>


            </p>




        </div>

        <div class="main-four">

            <img class="banner" src="img/i01_bannerAPAmd.png" alt="" srcset="">

        </div>


        <div class="logo-main">
            <img class="twitter" src="img/svg/twitter.svg" alt="twitter" srcset="">
            <img class="gmail" src="img/svg/gmail.svg" alt="gmail" srcset="">
            <img class="messenger" src="img/svg/messenger.svg" alt="messenger" srcset="">

        </div>




        <div class="footer-one">

        </div>
        <div class="footer-two">

        </div>
        <div class="footer-three">

        </div>
        <div class="footer-four">

        </div>



    </div>




</body>

</html>