<div class="row placeholders mb-3">
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="//placehold.it/200/dddddd/fff?text=1" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Responsive</h4>
        <span class="text-muted">Device agnostic</span>
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="//placehold.it/200/e4e4e4/fff?text=2" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Frontend</h4>
        <span class="text-muted">UI / UX oriented</span>
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="//placehold.it/200/d6d6d6/fff?text=3" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>HTML5</h4>
        <span class="text-muted">Standards-based</span>
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="//placehold.it/200/e0e0e0/fff?text=4" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Framework</h4>
        <span class="text-muted">CSS and JavaScript</span>
    </div>
</div>

<a id="features"></a>
<hr>
<p class="lead">
    Are you ready for Bootstap 4? It's the 4th generation of this popular responsive framework. Bootstrap 4 will include some interesting new features such as 5 grid sizes (now including xl), cards, `em` sizing, CSS normalization (reboot) and larger font
    sizes.
</p>

<hr>
<div class="row mb-3">
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="//placehold.it/740x180/bbb/fff?text=..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>

        <div class="card card-inverse bg-inverse mt-3">
            <div class="card-block">
                <h3 class="card-title">Dark background</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-outline-secondary">Outline</a>
            </div>
        </div>

    </div>